.THIS .article {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: .75rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.THIS .article-header {
	display: flex;
}