/**
 *  CSS for charts
 */

.morris-hover { 
    position: absolute;
    z-index: 1000;
}

.morris-hover.morris-default-style {
    border-radius: 3px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, 0.9);
    border: solid 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.prx-ie-soso .morris-hover.morris-default-style {
    background: #fff;
    border: 1px solid #999;    
} 

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: normal;
    margin: 0 5px 0.25em 5px;
}
.morris-hover.morris-default-style .morris-hover-row-value {
    font-size: 200%;
    padding: 0 2px 0 0;
    color: #0085cb;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.25em 0 0.25em 0;
}

