.THIS.container {
    position: relative;
    height: 563px;
}

.THIS .main {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y:auto;
}
.THIS .button-container {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.THIS .reason-container {
    position:relative;
    padding: .5rem !important;
}

.THIS .reason-container:nth-child(n+1) {
    margin-bottom: .5rem !important;
}

.THIS .slds-form-element+.slds-form-element {
    padding-left: .5rem !important;
    margin-left: 0 !important;
}

.THIS .close {
    position: absolute;
    top: .25rem;
    right: .5rem;
    z-index: 5;
}

.THIS .add {
	padding: .25rem;
	border: 1px solid #efefef;
    border-radius: 3px;
}

.THIS .add:hover {
    cursor: pointer;
    background-color: #fefefe;
}